header{
    
}
.navbar{
   background-color:black;
   height: 50px;
   
   display: flex;
   justify-content: space-between;
   align-items: center;
   border: 2px solid black;
 
   
}
.navbarder{
    justify-content: end;
}
.navbar a{
   color:white;
   height: 100%;
   padding: 13px 20px;
   border: 1px solid white;
   transition: color 0.5s ease;

}
.navbar a:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
}

h1{
    text-transform: uppercase;
}
table {
    border-collapse: collapse;
    width: auto;
    margin-bottom: 20px;
}
table, th, td {
    border: 1px solid black;
    padding: 8px;
}
#centrar_tabla{
    text-align: center;
}
form {
    margin-top: 20px;
}

a{
    text-decoration: none;
}
.cerrarSesion{
    background-color: yellowgreen;
    border-radius: 20px;
    
}